<div class="section">
    <div class="container">
      <div class="aximo-faq-wrap">
        <div class="row">
          <div class="col-lg-7 d-flex align-items-center">
            <div class="aximo-default-content">
              <h2>
                <span class="aximo-title-animation">
                  ES MEDIA
                  <span class="aximo-title-icon">
                    <img src="assets/images/v1/star2.png" alt="">
                  </span>
                </span>
              </h2>
            <p>Our mission is to help enhance the media marketing world in Africa, and to elevate the production and distribution system using the help of new marketing tools and strategies to help Brands and Talents navigate the constantly changing marketing jungle.</p>
            </div>
          </div>
          <div class="col-lg-5">
            <div class="aximo-accordion-wrap wow fadeInUpX" data-wow-delay="0s" id="aximo-accordion" style="visibility: visible; animation-delay: 0s; animation-name: fadeInUpX;">
              <div class="aximo-accordion-item">
                <div class="aximo-accordion-header">
                  <h3>01/ Project idea</h3>
                </div>
                <div class="aximo-accordion-body" style="display: none;">
                  <p>The process starts with a detailed discussion with the client to understand their idea &amp; goals.</p>
                </div>
              </div>
              <div class="aximo-accordion-item">
                <div class="aximo-accordion-header">
                  <h3>02/ Brainstorming</h3>
                </div>
                <div class="aximo-accordion-body" style="display: none;">
                  <p>Brainstorming is a group creativity technique in which members attempt to find a conclusion.</p>
                </div>
              </div>
              <div class="aximo-accordion-item open">
                <div class="aximo-accordion-header">
                  <h3>03/ Launch</h3>
                </div>
                <div class="aximo-accordion-body" style="display: block;">
                  <p>The completed design assets or final product are delivered with necessary documentation.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

<div class="section aximo-section-padding4">
    <div class="container">
      <div class="aximo-section-title center">
        <h2>
          We provide effective
          <span class="aximo-title-animation">
            marketing solutions
            <span class="aximo-title-icon">
              <img src="assets/images/v1/star2.png" alt="">
            </span>
          </span>
        </h2>
      </div>
      <div class="aximo-service-wrap">
        <div class="row">
          <div class="col-lg-4">
            <div class="aximo-iconbox-wrap wow fadeInUpX" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUpX;">
              <div class="aximo-iconbox-icon">
                <i class="icon-design-tools"></i>
              </div>
              <div class="aximo-iconbox-data">
                <h3>Movie production & Marketing</h3>
                <p>We specialize in overseeing every aspect of movie production and marketing, ensuring a seamless and compelling cinematic experience from conception to audience engagement.</p>
                <a class="aximo-icon" href="service.html"><img src="assets/images/icon/arrow-right.svg" alt=""></a>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="aximo-iconbox-wrap wow fadeInUpX" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUpX;">
              <div class="aximo-iconbox-icon">
                <i class="icon-branding"></i>
              </div>
              <div class="aximo-iconbox-data">
                <h3>Music Distribution to all DSPs stores</h3>
                <p>We ensure widespread music distribution to all major DSPs (Digital Service Providers) stores, ensuring your music reaches a global audience seamlessly and efficiently.</p>                
                <a class="aximo-icon" href="service.html"><img src="assets/images/icon/arrow-right.svg" alt=""></a>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="aximo-iconbox-wrap wow fadeInUpX" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUpX;">
              <div class="aximo-iconbox-icon">
                <i class="icon-web"></i>
              </div>
              <div class="aximo-iconbox-data">
                <h3>Brand and Artists management</h3>
                <p>We excel in brand and artist management, dedicated to fostering growth, visibility, and success for both brands and artists through strategic planning and effective representation.</p>
                <a class="aximo-icon" href="service.html"><img src="assets/images/icon/arrow-right.svg" alt=""></a>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="aximo-iconbox-wrap wow fadeInUpX" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUpX;">
              <div class="aximo-iconbox-icon">
                <i class="icon-design-thinking"></i>
              </div>
              <div class="aximo-iconbox-data">
                <h3>Social Media marketing</h3>
                <p>We specialize in social media marketing, leveraging our expertise to create impactful campaigns that resonate with your audience and elevate your brand's online presence.</p>
                <a class="aximo-icon" href="service.html"><img src="assets/images/icon/arrow-right.svg" alt=""></a>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="aximo-iconbox-wrap wow fadeInUpX" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUpX;">
              <div class="aximo-iconbox-icon">
                <i class="icon-design-tools"></i>
              </div>
              <div class="aximo-iconbox-data">
                <h3>Music Marketing</h3>
                <p>We are passionate about music marketing, employing innovative strategies to promote and amplify the reach of your music, connecting artists with their target audience for a lasting impact.</p>
                <a class="aximo-icon" href="service.html"><img src="assets/images/icon/arrow-right.svg" alt=""></a>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="aximo-iconbox-wrap wow fadeInUpX" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUpX;">
              <div class="aximo-iconbox-icon">
                <i class="icon-branding"></i>
              </div>
              <div class="aximo-iconbox-data">
                <h3>Event Management </h3>
                <p>We take pride in our event management services, meticulously coordinating every detail to deliver seamless and unforgettable experiences, tailored to meet the unique needs of our clients.</p>
                <a class="aximo-icon" href="service.html"><img src="assets/images/icon/arrow-right.svg" alt=""></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

