<div class="aximo-hero-section dark-bg" id="home">
    <div class="container position-relative">
      <div class="row">
        <div class="col-lg-8">
          <div class="aximo-hero-content">
            <h1>
              <span class="aximo-title-animation">
                Media
                <img src="assets/images/v1/star.png" alt="">
              </span>
              Marketing Agency
            </h1>
            <div class="aximo-hero-user-wrap">
              <div class="aximo-hero-user-thumb">
                <div class="aximo-hero-user-thumb-item wow fadeInUpX" data-wow-delay="0s" style="visibility: visible; animation-delay: 0s; animation-name: fadeInUpX;">
                  <img src="assets/images/v1/user1.png" alt="">
                </div>
                <div class="aximo-hero-user-thumb-item wow fadeInUpX" data-wow-delay="0.25s" style="visibility: visible; animation-delay: 0.25s; animation-name: fadeInUpX;">
                  <img src="assets/images/v1/user3.png" alt="">
                </div>
                <div class="aximo-hero-user-thumb-item wow fadeInUpX" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUpX;">
                  <img src="assets/images/v1/user2.png" alt="">
                </div>
              </div>
              <div class="aximo-hero-user-data">
                <p>Trusted by more than a thousand people</p>
              </div>
            </div>
            <a class="aximo-call-btn" href="tel:2348030965158">Book a free consultation <i class="icon-call"></i></a>
            <div class="aximo-hero-shape">
              <img src="assets/images/v1/shape1.png" alt="">
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="aximo-hero-thumb wow fadeInRight" data-wow-delay="0s" style="visibility: visible; animation-delay: 0s; animation-name: fadeInRight;">
            <img src="assets/images/v1/hero-thumb.png" alt="">
          </div>
        </div>
      </div>
    </div>
</div>