<div class="section aximo-section-padding6">
    <div class="container">
      <div class="aximo-section-title center title-description">
        <h2>
          <span class="aximo-title-animation">
          We have worked on
          <span class="aximo-title-icon">
            <img src="assets/images/v1/star2.png" alt="">
          </span>
          </span>
          some amazing projects
        </h2>
      </div>

      <div class="row">
        <div class="col-lg-8">
          <div class="aximo-story-thumb wow fadeInUpX" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUpX;">
            <img src="assets/images/portfolio/1.jpeg" alt="">
          </div>
        </div>
        <div class="col-lg-4">
          <div class="aximo-story-thumb wow fadeInUpX" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUpX; position: relative">
            <img src="assets/images/portfolio/13.jpeg" alt="">
            <a class="aximo-video-popup video-init" href="/assets/videos/2.mp4">
              <img src="assets/images/v1/play-btn.svg" alt="">
            </a>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="aximo-story-thumb wow fadeInUpX" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUpX; position: relative">
            <img src="assets/images/portfolio/11.jpeg" alt="">
            <a class="aximo-video-popup video-init" href="/assets/videos/sam_video.mp4">
              <img src="assets/images/v1/play-btn.svg" alt="">
            </a>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="aximo-story-thumb wow fadeInUpX" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUpX; position: relative">
            
            <img src="assets/images/portfolio/4.jpeg" alt="">
            <a class="aximo-video-popup video-init" href="/assets/videos/sam.mp4">
              <img src="assets/images/v1/play-btn.svg" alt="">
            </a>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="aximo-story-thumb wow fadeInUpX" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUpX; position: relative">
            
            <img src="assets/images/portfolio/12.jpeg" alt="">
            <a class="aximo-video-popup video-init" href="/assets/videos/stress.mp4">
              <img src="assets/images/v1/play-btn.svg" alt="">
            </a>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="aximo-story-thumb wow fadeInUpX" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUpX;">
            <img src="assets/images/portfolio/6.jpeg" alt="">
          </div>
        </div>
        <div class="col-lg-3">
          <div class="aximo-story-thumb wow fadeInUpX" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUpX;">
            <img src="assets/images/portfolio/7.jpeg" alt="">
          </div>
        </div>
        <div class="col-lg-3">
          <div class="aximo-story-thumb wow fadeInUpX" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUpX;">
            <img src="assets/images/portfolio/8.jpeg" alt="">
          </div>
        </div>
        <div class="col-lg-3">
          <div class="aximo-story-thumb wow fadeInUpX" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUpX;">
            <img src="assets/images/portfolio/9.jpeg" alt="">
          </div>
        </div>
        <div class="col-lg-3">
          <div class="aximo-story-thumb wow fadeInUpX" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUpX;">
            <img src="assets/images/portfolio/10.jpeg" alt="">
          </div>
        </div>
        <div class="col-lg-4">
          <div class="aximo-story-thumb wow fadeInUpX" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUpX; position: relative">
            <img src="assets/images/portfolio/14.jpeg" alt="">
            <a class="aximo-video-popup video-init" href="/assets/videos/3.mp4">
              <img src="assets/images/v1/play-btn.svg" alt="">
            </a>
          </div>
        </div>
      </div>

      

    </div>
</div>