<div class="section aximo-section-padding6">
    <div class="container">
      <div class="aximo-section-title center title-description">
        <h2>
          <span class="aximo-title-animation">
          We have worked on
          <span class="aximo-title-icon">
            <img src="assets/images/v1/star2.png" alt="">
          </span>
          </span>
          some amazing projects
        </h2>
      </div>

      <div class="row">
        <div class="col-lg-8">
          <div class="aximo-story-thumb wow fadeInUpX" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUpX;">
            <img src="assets/images/portfolio/1.jpeg" alt="">
          </div>
        </div>
        <div class="col-lg-4">
          <div class="aximo-story-thumb wow fadeInUpX" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUpX;">
            <img src="assets/images/portfolio/2.jpeg" alt="">
          </div>
        </div>
        <div class="col-lg-3">
          <div class="aximo-story-thumb wow fadeInUpX" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUpX;">
            <img src="assets/images/portfolio/3.jpeg" alt="">
          </div>
        </div>
        <div class="col-lg-3">
          <div class="aximo-story-thumb wow fadeInUpX" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUpX;">
            <img src="assets/images/portfolio/4.jpeg" alt="">
          </div>
        </div>
        <div class="col-lg-3">
          <div class="aximo-story-thumb wow fadeInUpX" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUpX;">
            <img src="assets/images/portfolio/5.jpeg" alt="">
          </div>
        </div>
        <div class="col-lg-3">
          <div class="aximo-story-thumb wow fadeInUpX" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUpX;">
            <img src="assets/images/portfolio/6.jpeg" alt="">
          </div>
        </div>
        <div class="col-lg-3">
          <div class="aximo-story-thumb wow fadeInUpX" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUpX;">
            <img src="assets/images/portfolio/7.jpeg" alt="">
          </div>
        </div>
        <div class="col-lg-3">
          <div class="aximo-story-thumb wow fadeInUpX" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUpX;">
            <img src="assets/images/portfolio/8.jpeg" alt="">
          </div>
        </div>
        <div class="col-lg-3">
          <div class="aximo-story-thumb wow fadeInUpX" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUpX;">
            <img src="assets/images/portfolio/9.jpeg" alt="">
          </div>
        </div>
        <div class="col-lg-3">
          <div class="aximo-story-thumb wow fadeInUpX" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUpX;">
            <img src="assets/images/portfolio/10.jpeg" alt="">
          </div>
        </div>
      </div>

      

    </div>
</div>