<div class="section aximo-section-padding3" id="team">
    <div class="container">
      <div class="aximo-section-title center">
        <h2>
          We have a team of
          <span class="aximo-title-animation">
            creative minds
            <span class="aximo-title-icon">
              <img src="/assets/images/v1/star2.png" alt="">
            </span>
          </span>
        </h2>
      </div>
      <div class="row">

        <div class="col-xl-4 col-md-6">
          <div class="aximo-team-wrap wow fadeInUpX" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUpX;">
            <div class="aximo-team-thumb">
              <img src="/assets/images/team/david.jpeg" alt="">
              <div class="aximo-social-icon team-social">
                {{!-- <ul>
                  <li>
                    <a href="https://twitter.com/" target="_blank">
                      <i class="icon-twitter"></i>
                    </a>
                  </li>
                  <li>
                    <a href="https://facebook.com/" target="_blank">
                      <i class="icon-facebook"></i>
                    </a>
                  </li>
                  <li>
                    <a href="https://www.instagram.com/" target="_blank">
                      <i class="icon-instagram"></i>
                    </a>
                  </li>
                  <li>
                    <a href="https://www.linkedin.com/" target="_blank">
                      <i class="icon-linkedin"></i>
                    </a>
                  </li>
                </ul> --}}
              </div>
            </div>
            <div class="aximo-team-data">
                <h3>David Adewale </h3>
                <p>General Manager</p>
            </div>
          </div>
        </div>

        <div class="col-xl-4 col-md-6">
          <div class="aximo-team-wrap wow fadeInUpX" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUpX;">
            <div class="aximo-team-thumb">
              <img src="/assets/images/team/folake.jpeg" alt="">
              <div class="aximo-social-icon team-social">
                {{!-- <ul>
                  <li>
                    <a href="https://twitter.com/" target="_blank">
                      <i class="icon-twitter"></i>
                    </a>
                  </li>
                  <li>
                    <a href="https://facebook.com/" target="_blank">
                      <i class="icon-facebook"></i>
                    </a>
                  </li>
                  <li>
                    <a href="https://www.instagram.com/" target="_blank">
                      <i class="icon-instagram"></i>
                    </a>
                  </li>
                  <li>
                    <a href="https://www.linkedin.com/" target="_blank">
                      <i class="icon-linkedin"></i>
                    </a>
                  </li>
                </ul> --}}
              </div>
            </div>
            <div class="aximo-team-data">
                <h3>Folake Olayinka </h3>
                <p>Assistant Manager</p>
            </div>
          </div>
        </div>

        <div class="col-xl-4 col-md-6">
          <div class="aximo-team-wrap wow fadeInUpX" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUpX;">
            <div class="aximo-team-thumb">
              <img src="/assets/images/team/enenim.jpeg" alt="">
              <div class="aximo-social-icon team-social">
                {{!-- <ul>
                  <li>
                    <a href="https://twitter.com/" target="_blank">
                      <i class="icon-twitter"></i>
                    </a>
                  </li>
                  <li>
                    <a href="https://facebook.com/" target="_blank">
                      <i class="icon-facebook"></i>
                    </a>
                  </li>
                  <li>
                    <a href="https://www.instagram.com/" target="_blank">
                      <i class="icon-instagram"></i>
                    </a>
                  </li>
                  <li>
                    <a href="https://www.linkedin.com/" target="_blank">
                      <i class="icon-linkedin"></i>
                    </a>
                  </li>
                </ul> --}}
              </div>
            </div>
            <div class="aximo-team-data">
                <h3>ENENIM MICHAEL OYOkUNYI</h3>
                <p>Co Director</p>
            </div>
          </div>
        </div>
        
        <div class="col-xl-4 col-md-6">
          <div class="aximo-team-wrap wow fadeInUpX" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUpX;">
            <div class="aximo-team-thumb">
              <img src="/assets/images/team/irene.jpeg" alt="">
              <div class="aximo-social-icon team-social">
                {{!-- <ul>
                  <li>
                    <a href="https://twitter.com/" target="_blank">
                      <i class="icon-twitter"></i>
                    </a>
                  </li>
                  <li>
                    <a href="https://facebook.com/" target="_blank">
                      <i class="icon-facebook"></i>
                    </a>
                  </li>
                  <li>
                    <a href="https://www.instagram.com/" target="_blank">
                      <i class="icon-instagram"></i>
                    </a>
                  </li>
                  <li>
                    <a href="https://www.linkedin.com/" target="_blank">
                      <i class="icon-linkedin"></i>
                    </a>
                  </li>
                </ul> --}}
              </div>
            </div>
            <div class="aximo-team-data">
                <h3>Irene Majoku </h3>
                <p>Secretary</p>
            </div>
          </div>
        </div>

        <div class="col-xl-4 col-md-6">
          <div class="aximo-team-wrap wow fadeInUpX" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUpX;">
            <div class="aximo-team-thumb">
              <img src="/assets/images/team/edem.jpg" alt="">
              <div class="aximo-social-icon team-social">
                {{!-- <ul>
                  <li>
                    <a href="https://twitter.com/" target="_blank">
                      <i class="icon-twitter"></i>
                    </a>
                  </li>
                  <li>
                    <a href="https://facebook.com/" target="_blank">
                      <i class="icon-facebook"></i>
                    </a>
                  </li>
                  <li>
                    <a href="https://www.instagram.com/" target="_blank">
                      <i class="icon-instagram"></i>
                    </a>
                  </li>
                  <li>
                    <a href="https://www.linkedin.com/" target="_blank">
                      <i class="icon-linkedin"></i>
                    </a>
                  </li>
                </ul> --}}
              </div>
            </div>
            <div class="aximo-team-data">
                <h3>ARCHIBONG SYLVIA EDEM </h3>
                <p>Media Director</p>
            </div>
          </div>
        </div>
        
        <div class="col-xl-4 col-md-6">
          <div class="aximo-team-wrap wow fadeInUpX" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUpX;">
            <div class="aximo-team-thumb">
              <img src="/assets/images/team/amadike.jpg" alt="">
              <div class="aximo-social-icon team-social">
                {{!-- <ul>
                  <li>
                    <a href="https://twitter.com/" target="_blank">
                      <i class="icon-twitter"></i>
                    </a>
                  </li>
                  <li>
                    <a href="https://facebook.com/" target="_blank">
                      <i class="icon-facebook"></i>
                    </a>
                  </li>
                  <li>
                    <a href="https://www.instagram.com/" target="_blank">
                      <i class="icon-instagram"></i>
                    </a>
                  </li>
                  <li>
                    <a href="https://www.linkedin.com/" target="_blank">
                      <i class="icon-linkedin"></i>
                    </a>
                  </li>
                </ul> --}}
              </div>
            </div>
            <div class="aximo-team-data">
                <h3>AMADIKE JUSTICE CHUKWUMELA  </h3>
                <p>Marketing Manager</p>
            </div>
          </div>
        </div>

      </div>
    </div>
</div>